$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
// variables for colors
$white: #ffffff;
$blue: #77b4d8;
$green: #bae0a3;
$darkgrey: #333;
// variables for fonts
$font-family: "poppins", sans-serif;
